/*Coding By Yegetaneh Firew  https://github.com/lijnati

platform site: https://lijnati.github.io/Download-Any-File/
*/

/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #c8db1d;
}

.wrapper {
  width: 500px;
  background: #fff;
  border-radius: 7px;
  padding: 20px 25px 15px;
}

header h1{
  font-size: 27px;
  font-weight: 500;
}

header p {
  font-size: 18px;
  margin-top: 5px;
}

form {
  margin: 20px 0 27px;
}

form input {
  width: 100%;
  height: 60px;
  outline: none;
  font-size: 19px;
  padding: 0 17px;
  border: 5px;
  border: 1px solid #b3b2b2;
}

form button {
  opacity: 0.7;
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  padding: 15px 0;
  margin-top: 20px; 
  border-radius: 5px;
  background: #3778c2;
  pointer-events: none;
}

form input:valid ~ button {
  opacity: 1;
  pointer-events: auto;
}
 footer {
  position: absolute;
  bottom: 3%;
  left: 40%;
}
